.card-column-layout {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #f1f1f1;
    padding-left: 1rem;
    padding-bottom: 0;
  }
  
  .card {
    width: 400px; /* Adjust the width as desired */
    height: auto; /* Allow the height to adjust based on content */
    width: calc(28.33% - 20px); /* Adjust the width and margins as needed */
    margin: 20px;
    transition: transform 0.3s ease;
  }
  
  .card:hover {
    transform: translateY(-5px);
  }
  
  .card-image {
    width: 100%;
    height: 250px; /* Adjust the height as desired */
    object-fit: cover;
    /* Rest of the image styles */
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }
  
  .card-content {
    padding: 10px;
   
  }
  
  .card-title {
    margin-top: 0;
    font-size: 18px;
  }
  
  .card-description {
    margin-bottom: 0;
    color: #777;
  }
  .card-button {
    display: inline-block;
    padding: 10px 20px;
  background-color: transparent;
  color: #a67519dc;
  text-decoration: none;
  font-size: 16px;
  border-radius: 5px;
  border: 2px solid #a67519dc;
  transition: transform 0.3s ease;
  }
  
  .card-button:hover {
    transform: scale(1.1);
  }
  @media screen and (max-width: 768px) {
    .card {
      width: calc(50% - 40px); /* Adjust the width and margins for smaller screens */
    }
  }
  
  @media screen and (max-width: 480px) {
    .card {
      width: 100%; /* Adjust the width for the smallest screens */
    }
  }