/* App.css */
.info {
    background: #ffffff;
    padding: 20px;
    text-align: center; /* Center-align the content */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Ensure the section takes the full viewport height */
  }
  
  .title {
    font-size: 24px;
    color: #a8720f;
    margin-bottom: 20px;
  }
  
  .card {
    background: #fff;
    padding: 10px 15px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }
  
  .card p {
    font-size: 16px;
  }
  
  .icon {
    text-align: center;
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .part {
    background: #a97a04;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  .part h1 {
    font-size: 28px;
    margin-bottom: 20px;
  }
  
  .social {
    font-size: 24px;
    margin: 10px;
  }
  
  .social a {
    color: #333;
    text-decoration: none;
    margin: 10px;
    transition: color 0.3s;
  }
  
  .social a:hover {
    color: #0077b5;
  }
  /* App.css */
.form {
    background: #f0f0f0;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .form h3 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
  }
  
  label {
    font-size: 16px;
    color: #333;
    margin: 5px 0;
  }
  
  input,
  textarea {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button {
    background: #0077b5;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
  }
  
  button:hover {
    background: #005ea0;
  }
  